/* @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: cursive; */
}

body {
  background-image: url("/AnimatedShape.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 475px) {
  body {
    background-image: url("/AnimatedShape.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
